.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  background-color: #222;
  color: #fff;
}

header > .container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1rem;
}

a,
.link {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;
}

.home-link {
  margin-right: auto;
}
